// font-size()
// -----------
// Font size defined in `rem` from a value in `px`.
// Given a pixel font-size and optional line-height, the mixin returns the size in `rem`.
// Default line-height is 1, can be set to any valid value.
//
// Usage:
// sans - pas la peine de passer le "false"
// @include font-size(16px);
// avec - en passant une valeur
// @include font-size(16px, 2em);
// Base font size and `rem` base font multiplicator.
// > Psd font-size px = web px = web rem (ci-dessous)
// > font-size: (($font-size + ($font-size * 0.071)) / $base-font-size)*$base-font-multiplicator;

$base-font-size:          		12px!default;
$base-font-multiplicator: 		0.7rem!default;

@mixin font-size($font-size, $line-height:"") {
	font-size: $font-size;
	font-size: ($font-size / $base-font-size)*$base-font-multiplicator;
	@if $line-height != "" {
		line-height: $line-height;
	} @else {
		line-height: 1;
	}
}
